# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Yarn packages
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# Node dependencies
node_modules

# Logs
logs
*.log
.history

# Misc
.DS_Store
.fleet
.idea
sw.*

# Local env files
.env
.env.*
!.env.example
